<Menus>
  <!--<Menu ID="1" Name="Admin" TextTH="ผู้ดูแลระบบ" TextEN="Administrator">
    <Menu ID="1" Name="UserMaser" TextTH="User Master" TextEN="User Master">
      <Menu ID="1" Name="Users" TextTH="ผู้ใช้ระบบ" TextEN="Users" Url="../admin/User.aspx"/>
      <Menu ID="2" Name="User Type" TextTH="ประเภทผู้ใช้งาน" TextEN="User Type" Url=""/>
      <Menu ID="3" Name="Activate" TextTH="เปิดการใช้งานผู้ใช้ระบบ" TextEN="Activate User" Url=""/>
    </Menu>
    <Menu ID="2" Name="AssetMaster" TextTH="ข้อมูลครุภัณฑ์" TextEN="Asset Master">
      <Menu ID="1" Name="AssetDetail" TextTH="ข้อมูลครุภัณฑ์" TextEN="Asset Detail" Url="../admin/AssetDetail.aspx"/>
      <Menu ID="2" Name="AssetMaster" TextTH="ครุภัณฑ์" TextEN="Asset Master" Url="../admin/Asset.aspx"/>
      <Menu ID="3" Name="AssetType" TextTH="ประเภทครุภัณฑ์" TextEN="Asset Type" Url="../admin/AssetType.aspx"/>
      <Menu ID="4" Name="AssetQuota" TextTH="ปริมาณครุภัณฑ์" TextEN="Asset Quota" Url="../admin/AssetQuota.aspx"/>
      <Menu ID="5" Name="AssetType" TextTH="ค่าเสื่อมครุภัณฑ์" TextEN="Asset Depreciate" Url="../admin/AssetDepreciate.aspx"/>
      <Menu ID="6" Name="Testr" TextTH="ทดสอบ" TextEN="test" Url="../admin/Test.aspx"/>
    </Menu>
    <Menu ID="3" Name="Other" TextTH="อื่น ๆ" TextEN="Other">
      <Menu ID="1" Name="WorkCenter" TextTH="หน่วยงาน" TextEN="Work Center" Url="../admin/WorkCenter.aspx"/>
      <Menu ID="2" Name="FundType" TextTH="ประเภทเงิน" TextEN="Fund Type" Url="../admin/FundType.aspx"/>
      <Menu ID="3" Name="MovementType" TextTH="ประเภทการเคลื่อนย้าย" TextEN="Movement Type" Url="../admin/MovementType.aspx"/>
      <Menu ID="4" Name="ReportGroup" TextTH="กลุ่มรายงาน" TextEN="Report Group" Url="../admin/ReportGroup.aspx"/>
      <Menu ID="5" Name="ReportGroupType" TextTH="ประเภทกลุ่มรายงาน" TextEN="Report Group Type" Url="../admin/ReportGroupType.aspx"/>
    </Menu>
    <Menu ID="0" Name="menu_b000" TextTH="กำหนดค่าเริ่มต้น" TextEN="กำหนดค่าเริ่มต้น" RoleShow="002:999">
        <Menu ID="1" Name="menu_b001" TextTH="หน่วยงานจัดทำคำขอ" TextEN="หน่วยงานจัดทำคำขอ" Url="../budget/BudgetConfig.aspx"/>
      </Menu>
</Menu>-->
  <Menu ID="2" Name="Budget" TextTH="งบประมาณเงินทุนหมุนเวียน" TextEN="งบประมาณเงินทุนหมุนเวียน">
      
      <Menu ID="1" Name="menu_b010" TextTH="จัดทำคำขอประมาณการ" TextEN="จัดทำคำขอประมาณการ" RoleShow="All">
      <Menu ID="1" Name="menu_b011" TextTH="งบบุคลากร" TextEN="งบบุคลากร" Url="../budget_position/BudgetPosition.aspx"/>
      <Menu ID="2" Name="menu_b012" TextTH="งบดำเนินงาน" TextEN="งบดำเนินงาน" Url="">
        <Menu ID="1" Name="menu_b0121" TextTH="ค่าตอบแทน ใช้สอย และวัสดุ" TextEN="ค่าตอบแทน ใช้สอย และวัสดุ" Url="../budget_operation/BudgetOperation.aspx"/>
        <Menu ID="2" Name="menu_b0122" TextTH="ค่าใช้จ่ายอื่นๆ" TextEN="ค่าใช้จ่ายอื่นๆ" Url="../budget_operation/BudgetOperation.aspx"/>
      </Menu>
      <Menu ID="3" Name="menu_b013" TextTH="งบลงทุน" TextEN="งบลงทุน" Url="">
        <Menu ID="1" Name="menu_b0131" TextTH="ค่าครุภัณฑ์" TextEN="ค่าครุภัณฑ์" Url="../budget_asset/BudgetAsset.aspx"/>
        <Menu ID="2" Name="menu_b0132" TextTH="โครงการ" TextEN="โครงการ" Url="../budget_project/BudgetProject.aspx"/>
      </Menu>
    </Menu>
    <Menu ID="2" Name="menu_b020" TextTH="ประวัติคำขอประมาณการ" TextEN="ประวัติคำขอประมาณการ" RoleShow="All">
      <Menu ID="1" Name="menu_b021" TextTH="งบบุคลากร" TextEN="งบบุคลากร" Url="../budget_position/BudgetPositionList.aspx"/>
      <Menu ID="2" Name="menu_b022" TextTH="งบดำเนินงาน" TextEN="งบดำเนินงาน" Url="">
        <Menu ID="1" Name="menu_b0221" TextTH="ค่าตอบแทน ใช้สอย และวัสดุ" TextEN="ค่าตอบแทน ใช้สอย และวัสดุ" Url="../budget_operation/BudgetOperationList.aspx"/>
        <Menu ID="2" Name="menu_b0222" TextTH="ค่าใช้จ่ายอื่นๆ" TextEN="ค่าใช้จ่ายอื่นๆ" Url="../budget_operation/BudgetOperationList.aspx"/>
      </Menu>
      <Menu ID="3" Name="menu_b023" TextTH="งบลงทุน" TextEN="งบลงทุน" Url="">
        <Menu ID="1" Name="menu_b0231" TextTH="ค่าครุภัณฑ์" TextEN="ค่าครุภัณฑ์" Url="../budget_asset/BudgetAssetList.aspx"/>
        <Menu ID="2" Name="menu_b0232" TextTH="โครงการ" TextEN="โครงการ" Url="../budget_project/BudgetProjectList.aspx"/>
      </Menu>
    </Menu>
    <Menu ID="3" Name="menu_b030" TextTH="พิจารณาคำขอประมาณการ" TextEN="พิจารณาคำขอประมาณการ" RoleShow="002:999">
      <Menu ID="1" Name="menu_b031" TextTH="งบบุคลากร" TextEN="งบบุคลากร" Url="../budget_position/BudgetPositionListAction.aspx"/>
      <Menu ID="2" Name="menu_b032" TextTH="งบดำเนินงาน" TextEN="งบดำเนินงาน" Url="">
        <Menu ID="1" Name="menu_b0321" TextTH="ค่าตอบแทน ใช้สอย และวัสดุ" TextEN="ค่าตอบแทน ใช้สอย และวัสดุ" Url="../budget_operation/BudgetOperationListAction.aspx"/>
        <Menu ID="2" Name="menu_b0332" TextTH="ค่าใช้จ่ายอื่นๆ" TextEN="ค่าใช้จ่ายอื่นๆ" Url="../budget_operation/BudgetOperationListAction.aspx"/>
      </Menu>
      <Menu ID="3" Name="menu_b033" TextTH="งบลงทุนค่าครุภัณฑ์" TextEN="งบลงทุนค่าครุภัณฑ์" Url="">
        <Menu ID="1" Name="menu_b0331" TextTH="ค่าครุภัณฑ์" TextEN="ค่าครุภัณฑ์" Url="../budget_asset/BudgetAssetListAction.aspx"/>
        <Menu ID="2" Name="menu_b0332" TextTH="โครงการ" TextEN="โครงการ" Url="../budget_project/BudgetProjectListAction.aspx"/>
      </Menu>
    </Menu>
    <Menu ID="4" Name="menu_b040" TextTH="รายงานประมาณการ" TextEN="รายงานประมาณการ" RoleShow="002:999">
      <Menu ID="1" Name="menu_b041" TextTH="รายงานประจำปีงบดำเนินการ" TextEN="รายงานประจำปีงบดำเนินการ" Url="../budget_report/rpt_BudgetAnnualOperation.aspx"/>
      <Menu ID="2" Name="menu_b042" TextTH="รายงานประจำปีงบบุคลากร" TextEN="รายงานประจำปีงบบุคลากร" Url="../budget_report/rpt_BudgetAnnualPosition.aspx"/>
      <Menu ID="3" Name="menu_b043" TextTH="รายงานประจำปีงบโครงการ" TextEN="รายงานประจำปีงบโครงการ" Url="../budget_report/rpt_BudgetAnnualProject.aspx"/>
      <Menu ID="4" Name="menu_b044" TextTH="รายงานประจำปีงบครุภัณฑ์" TextEN="รายงานประจำปีงบครุภัณฑ์" Url="../budget_report/rpt_BudgetAnnualAsset.aspx"/>
      <Menu ID="5" Name="menu_b045" TextTH="แผนผลภาพรวม" TextEN="แผนผลภาพรวม" Url=""/>
      <Menu ID="6" Name="menu_b046" TextTH="คุมงบประมาณตามผลผลิต/กิจกรรม" TextEN="คุมงบประมาณตามผลผลิต/กิจกรรม" Url=""/>
    </Menu>
  </Menu>
</Menus>
