<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="IRGT_Service.Service" value="http://localhost:56867/Service.asmx"/>
    <add key="IRGT_Service.Budget_Operation" value="http://localhost:56867/Budget_Operation.asmx"/>
    <add key="IRGT_Service.Budget_Position" value="http://localhost:56867/Budget_Position.asmx"/>
    <add key="IRGT_Service.Budget_Asset" value="http://localhost:56867/Budget_Asset.asmx"/>
    <add key="IRGT_Service.Budget_Project" value="http://localhost:56867/Budget_Project.asmx"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation targetFramework="4.0" debug="true"/>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <!-- remove first in case they are defined in IIS already, which would cause a runtime error -->
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>